body {
	background: #dbf300
}

#r40logo {
	width: 100%;
}

.principal{
	padding: 30px;
}

.titulo-principal{
	padding-left: 20px;
}

.titulo-centralizado {
	text-align: center
}

p {
	text-align: center;
}

#missao {
	font-size: 20px
}
	
.itens {
	font-style: Baskerville
}

.benefícios {
	background: #199e3a;
	padding: 20px;
}

}
ul {
	display: inline-block;
	vertical-align: top;
	width: 20;
	margin-right: 15%;
}
.imagemeletricista {
	width: 80%
}